*.aux
.gitignore
hw2_1/Report/hw2_1.out
*.synctex
*.sav
hw2_1/厉扬豪_1100012740.PNG
hw2_1/厉扬豪_1100012740_a02p1.zip
hw2_1/厉扬豪_1100012740_report.pdf
hw2_1/厉扬豪_1100012740_src.zip
report_example.pdf
hw2_2/Report/hw2_2.out
hw2_2/厉扬豪_1100012740_a02p2.zip
2008VAST/Challenge 1 The Paraiso Wiki Edits Page/Paraiso_Edits.txt
2008VAST/Challenge 1 The Paraiso Wiki Edits Page/Paraiso_Wiki_Edits_README.doc
2008VAST/Challenge 4 The Evacuation of a Department of Health Building/VAST 2008 Slides/
2008VAST/Challenge 1 The Paraiso Wiki Edits Page/Wiki_discussion_page.doc
2008VAST/The 2008 VAST Contest The Paraiso Manifesto/ParaisoManifestoWikipediaPageREADME.doc
2008VAST/Challenge 4 The Evacuation of a Department of Health Building/厉扬豪_1100012740_a03.zip
2008VAST/Challenge 2 The Isla del Sueño Migrant Boats/
2008VAST/Challenge 3 Cell Phone Calls on Isla del Sueño/CellPhoneCallRecords.csv
2008VAST/Challenge 3 Cell Phone Calls on Isla del Sueño/Cell_Locations_on_Isla.ppt
2008VAST/Challenge 3 Cell Phone Calls on Isla del Sueño/
2008VAST/Challenge 4 The Evacuation of a Department of Health Building/Evacuation Traces_sol/
2008VAST/The 2008 VAST Contest The Paraiso Manifesto/
